
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #3c3434;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Knewave', cursive;
}


h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-left: 40px;
   }
   

ul {
    list-style: none;
}

nav span {
    position: absolute;
    right: 22px;
    top: 50px;
    padding: 8px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #0071ae;
    text-align: center;
    border: solid 1px #3c3434;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
   

nav {
    display: flex;
    flex-direction: row;
    background-color: #F6E9F1;
}

nav img {
    width: 20%;
    height: 100px;
    align-self: center;
    object-fit: contain;
}


ul {
    display: flex;
    width: 80%;
    justify-content: end;
    align-items: center;
    font-size: 1.4rem;
}

li {
    padding: 50px;
}

nav a {
    display: flex;
    align-self: center;
}

nav  a:hover {
    color: #9C5BEC;
   }
   

header {
    text-align: center;
}

#order {
    width: 40%;
}
   

#cart {
    flex-direction: column;
}

#cart p {
    font-size: 20px;
}

 div {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#overview {
    flex-direction: column;
    padding: 1rem;
    border: solid 1px #F6E9F1;
    font-size: 1.2rem;
   }

   input {
    width: 12rem;
    padding: 8px;
    margin: 8px;
   }


  input:valid {
    background-color: #ddffdd;
  }
  

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    height: 100px;
    background-color: #F6E9F1;

}
   
   
   
a {
    width: 100%;
    text-decoration: none;
    color: #3c3434;
}

img {
    width: 30%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    height: auto;
}

figure {
    display: flex;
    flex-direction: row;
    border: solid 1px #F6E9F1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
       
figcaption, b {
    padding: 10px;
}

figcaption {
    font-size: 1.2rem;
}


button {
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 12px;
    margin-top: 1rem;
    border-radius: 10px;
    border: solid 2px #F6E9F1;
    background-color: #F6E9F1;
    cursor: pointer;
}

button:hover {
   filter: brightness(0.9)
}
   

footer ul {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}


footer a:hover {
    color: #9C5BEC;
   }

/* Media queries */ 

@media screen and (max-width: 1024px) {
    
    h2 {
        text-align: center;
    }


    h3 {
        margin-left: 0;
        justify-content: center;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        width: auto;
    }

    nav img {
        width: auto;
    }

    nav ul {
        width: auto;
        justify-content: space-around;
    }

    main {
        flex-direction: column;
       }
       
       #order {
        width: auto;
       }

       div {
        width: auto;
       text-align: center;
       }

       #overview {
        border: solid 1px #F6E9F1;
        padding: 1rem;
        text-align: center;
       }
       



    section {
        flex-direction: column;
    }

    img {
        height: auto;
    }


    footer {
        flex-direction: column;
        height: auto;
    }

    footer ul {
        flex-direction: row;
        justify-content: center;
        width: auto;
        padding-left: 0px;
        margin-top: 0px;
    }

    li {
        padding: 16px;
    }

    button {
        display: inline;
    }  

    span {
        top: 110px;
        right: unset;
    }

}

@media screen and (max-width: 768px) {
    footer ul {
        flex-direction: column;
    }

    li {
        padding: 4px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
       }

       span {
        top: 100px;
        right: unset;
    }
    
}